<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<title>Ticket Dashboard </title>
</head>
<body style="background-color: rgb(203, 250, 238);">
<div class="container">
	
<h1>Tickets</h1>
<div class="row d-flex justify-content-between mb-3">
	<div class="col-5">
		<a th:href="@{/main/create}" class="btn btn-primary"
			style="color: whitesmoke;">Aggiungi un ticket</a>		
	</div>
	<div class="col-5">
		<form class="d-flex" role="search"
			th:object="${ticket}" 
			th:action="@{/main/search}"
			method="get">
			<input class="form-control me-2 bg-white" type="text" 
				placeholder="Cerca ticket per Titolo..." aria-label="Search"
				name="input">
				<div class="container-fluid d-flex gap-1">
					<button class="btn btn-primary" type="submit" style="color: whitesmoke;">Cerca</button>
						<a class="btn btn-primary" style="color: whitesmoke;"
							th:href="@{/main}">Annulla</a>	
				</div>
		</form>
	</div>
</div>
<table id="table-1" class="table table-striped "
						th:unless="${list.isEmpty()}">
						<thead>
							<tr>
								<th class="col-3">Titolo</th>
								<th class="col-3">Categoria </th>
								<th class="col-2">Stato </th>
								<th class="col-4">Azioni </th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="ticket : ${list}">
								<td>
									<span th:text=" ${ticket.ticketTitle}"></span> 
								</td>
								<td th:text="${ticket.category.getCategoryName()} ">
								</td>
								<td>
									<span th:if="${ticket.ticketState == 'completato'}"
											class=" badge text-bg-success"
											th:text="Completato "></span>
									<span th:if="${ticket.ticketState == 'daFare'}"
											class=" badge text-bg-danger"
											th:text="|Da Fare|"></span>
									<span th:if="${ticket.ticketState == 'inCorso'}"
											class=" badge text-bg-warning"
											th:text="|In Corso|"></span>
								</td>
								<td>
									<div class="container-fluid d-flex gap-1">
										<a class="btn btn-primary" style="color: whitesmoke;"
											th:href="@{|/main/show/${ticket.id}|}"><i class="bi bi-search"></i>
										</a>
										<a class="btn btn-primary" style="color: whitesmoke;"
											th:href="@{|/main/edit/${ticket.id}|}"><i class="bi bi-pencil"></i>
										</a>
										<form th:action="@{'/main/delete/{id}'(id=${ticket.id})}"
												method="post">
												<button class="btn btn-danger" type="submit" id="submitButton"
													style=" color: whitesmoke;"
													th:data-confirm-delete="|Sei sicuro di voler cancellare l'Operatore?|"
													onclick="if(!confirm(this.getAttribute('data-confirm-delete'))) return false">
													<i class="bi bi-trash"></i>
													</button>
										</form>
																		
										<a class="btn btn-primary" style="color: whitesmoke;"
											th:href="@{/note/create}">Aggiungi Nota<i class="bi bi-plus"></i>
										</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>			
		<div th:if="${list.isEmpty()}">
			<span> Non sono presenti tickets </span>
		</div>
</div>
		
	<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>