<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<title>Operatori </title>
</head>
<body>
<div class="container">
	
<h1>Elenco Operatori</h1>
<table id="table-1" class="table table-striped "
						th:unless="${list.isEmpty()}">
						<thead>
							<tr>
								<th class="col-4"> Cognome </th>
								<th class="col-4"> Nome </th>
								<th class="col-2"> Matricola </th>
								<th class="col-1"> Stato </th>
								<th class="col-1"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user : ${list}">
								<td>
									<span th:text="${user.getSurname()}"></span> 
								</td>
								<td>
									<span th:text=" ${user.getName()}"></span>
								</td>
								<td>
									<span th:text="${user.getIdentifierNumber()}"></span>
								</td>
								<td>
									<span style="background-color: lightgreen; border-radius: 3;"
									th:text="${user.personalState}"></span>
								</td>
								<td>
									<a class="btn" style="background-color: green;
										color: whitesmoke;"
										th:href="@{|/user/show/${user.id}|}"><i class="bi bi-search"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>			
		<div th:if="${list.isEmpty()}">
			<span> Non sono presenti utenti </span>
		</div>
</div>
		
	<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>